/* fonts */

@font-face {
    font-family: 'chillerregular';
    src: url('/fonts/chiller_400-webfont.woff2') format('woff2'),
         url('/fonts/chiller_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* general */


.logo-space {
word-spacing: 4px;
}

.chillerregular {
    font-family: 'chillerregular'!important;
}

.fsize {
    font-size: 100px;
}

.mgn-t {
    margin-top: 16rem !important;
}